.widget-currencyinput-clickable {
    cursor: pointer;
}

.widget-currencyinput {
    display: inline-block;
}

.widget-currencyinput.badge:empty {
    display: initial;
    /* Fix padding to stay round */
    padding: 3px 10px;
}

.widget-currencyinput.label:empty {
    display: initial;
    /* Fix padding to stay square */
    padding: .2em .8em .3em;
}

.widget-currencyinput.badge {
    min-width: 18px;
    min-height: 18px;
}


.currency-input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }